extends ./layout/index
block slider
    .slider
        h1 Rio de Janeiro
        em aventura

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre nosotros
        .row.mb-5
            .col-md-6
                p Nullam consequat odio ac eros porta, maximus aliquet nibh gravida. Proin ut est in est ullamcorper pharetra nec at augue. Nullam iaculis maximus pellentesque. Duis suscipit fermentum tellus a lacinia. Mauris ut neque at diam porttitor tristique. Sed eget hendrerit velit. Maecenas laoreet iaculis blandit. Sed eu mattis lacus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                p Nullam consequat odio ac eros porta, maximus aliquet nibh gravida. Proin ut est in est ullamcorper pharetra nec at augue. Nullam iaculis maximus pellentesque. Duis suscipit fermentum tellus a lacinia. Mauris ut neque at diam porttitor tristique. Sed eget hendrerit velit. Maecenas laoreet iaculis blandit. Sed eu mattis lacus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt=" imagen nosotros", class="img-fliud")

            include ./layout/bloque_viajes      

        .descuento
            .container
                .row
                    .col-md-6
                        .contenido    
                            h3 5% de Descuento
                            p.titulo Viaje a Canada
                            p.fecha 20 de Marzo de 2022 - 28 de MArzo de 2022
                            p.precio $2,500 USD    

        .container
            h2.mt-5.text-center Testimonial   
            include ./layout/bloque_testimoniales