extends ./layout/index

block contenido
    main.container.mt-5
    .row
        .col-md-5
            img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
        .col-md-7
            h1 #{pagina}
            blockquote  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam velit odio, consectetur in nisl et, dictum consectetur nibh. Morbi aliquam, lorem vitae iaculis volutpat, velit ipsum pulvinar turpis, nec efficitur magna purus eu felis. In convallis ac nisi vitae sagittis. Nam vel urna suscipit, volutpat ante vel, euismod eros. Nulla ornare venenatis nulla vitae accumsan. Aenean consectetur arcu vel varius fringilla. Quisque sit amet placerat diam. In urna orci, auctor eu massa et, pulvinar tincidunt lacus. Etiam dignissim ante ac odio tempus, nec dictum arcu semper. Vivamus sollicitudin urna eu semper tempus. Praesent feugiat porttitor diam. Vestibulum sit amet augue eu lectus venenatis porta eu id dolor.

            p Nullam consequat odio ac eros porta, maximus aliquet nibh gravida. Proin ut est in est ullamcorper pharetra nec at augue. Nullam iaculis maximus pellentesque. Duis suscipit fermentum tellus a lacinia. Mauris ut neque at diam porttitor tristique. Sed eget hendrerit velit. Maecenas laoreet iaculis blandit. Sed eu mattis lacus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

            p Mauris eleifend a odio eu sagittis. Ut elementum justo ac pharetra rutrum. Vestibulum vehicula erat sit amet neque commodo hendrerit. Nunc tempor sagittis libero, interdum volutpat elit venenatis ut. Suspendisse sed ornare nisi, vel ultrices nulla. Nullam nisl erat, bibendum sed velit a, maximus ultricies magna. Aenean varius ex orci, ut commodo est vehicula id. Donec dolor libero, feugiat et rhoncus sed, placerat ac enim. Morbi viverra malesuada massa vitae gravida. 
            
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Nullam consequat odio ac eros porta, maximus aliquet nibh gravida. Proin ut est in est ullamcorper pharetra nec at augue. Nullam iaculis maximus pellentesque. Duis suscipit fermentum tellus a lacinia. Mauris ut neque at diam porttitor tristique. Sed eget hendrerit velit. Maecenas laoreet iaculis blandit. Sed eu mattis lacus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
                
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Nullam consequat odio ac eros porta, maximus aliquet nibh gravida. Proin ut est in est ullamcorper pharetra nec at augue. Nullam iaculis maximus pellentesque. Duis suscipit fermentum tellus a lacinia. Mauris ut neque at diam porttitor tristique. Sed eget hendrerit velit. Maecenas laoreet iaculis blandit. Sed eu mattis lacus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
                
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Nullam consequat odio ac eros porta, maximus aliquet nibh gravida. Proin ut est in est ullamcorper pharetra nec at augue. Nullam iaculis maximus pellentesque. Duis suscipit fermentum tellus a lacinia. Mauris ut neque at diam porttitor tristique. Sed eget hendrerit velit. Maecenas laoreet iaculis blandit. Sed eu mattis lacus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
